<title>{{meta_title}}</title>
    {{!-- Meta Tags --}}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{meta_description}}">


    {{!-- Dynamic header content for SEO, meta tags, code injection etc --}}
    {{ghost_head}}

    <link rel="stylesheet" href="{{asset "css/splide.min.css"}}">
    <link rel="stylesheet" href="{{asset "css/cookieconsent.min.css"}}">
    <link rel="stylesheet" href="{{asset "css/prism.css"}}">
    <link rel="stylesheet" href="{{asset "css/all.css"}}">
    <link rel="stylesheet" href="{{asset "css/main.css"}}">

    