{{!< default}}
{{!-- INDEX FRONT PAGE --}}

<div class="mt-1">

  {{!-- START SECTION POSTS --}} 
  <section class="mt-4 mb-5 index-posts">
    <div class="pt-2 pl-3"><h2 class="subtitle">Articles</h2></div>

    <div class="container-fluid">
     {{#foreach posts}}
          <div class="row mt-2 mb-4 border-bottom">
            <div class="col-md-4">
                <div class="index-post-meta">
                    <i class="post-date"><time datetime="{{ time .Date }}" itemprop="datePublished">[{{date published_at format="MMMM DD, YYYY"}}]</time></i>
                </div>      
            </div>
            <div class="col-md-8">
              <h4>
                <a href="{{url}}">{{title}} </a>
              </h4>
            </div>
          </div>
      {{/foreach}} 
      </div>

  </section>
  {{!-- END SECTION POSTS --}}

  {{!-- START SECTION PROJECTS --}}
  <section class="mt-4 mb-5 index-projects">
        <div class="mb-2"><h2 class="subtitle">Projects</h2>
          <div class="container-fluid">
            <span class="projectlist"></span>
          </div>            
  </section>  
  {{!-- END SECTION PROJECTS --}}


  {{!-- START SECTION TAGS --}}

  <section class="mt-4 mb-5 index-tags">
          <div class="mb-2"><h2 class="subtitle">Tags</h2>
          <ul class="index-tags-cloud">
            {{#get "posts"}}
            {{#get "tags" limit="all" include="count.posts"}}
              {{#foreach tags}}
                {{!-- Create a li for each tag and style size: use base size 1rem + variable based on qty of posts --}}
                <li><a href="{{url}}" style="font-size:calc(1rem + ({{count.posts}}rem/{{../../posts.length}}));">{{name}}</a></li>
              {{/foreach}}
            {{/get}} 
            {{/get}} 
          </ul> 
          </div>
  </section>  
{{!-- END SECTION TAGS --}}



</div>