
{{!< default}}

{{!-- Everything inside the #post tags pulls data from the POST --}}
{{#post}}

<div class="post">

<h1>{{title}}</h1>
<section class="post-meta">
      Posted on
      <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">
        {{date format="DD MMMM YYYY"}}
      </time>
</section>


<section class="post-content justify resizable">
    
    {{content}}

</section>

<section class="post-footer">
  <hr>
  <div class="post-footer-tags">
    <h4>Categories</h4>
      {{tags}}
  </div>
  <hr>
  <div class="post-footer-socials">
    {{> posts-social}}
  </div>
  <hr>
  <div class="post-footer-related">
    {{> posts-related}}
  </div>
  <hr>
  <div class="post-footer-comments">
    {{> posts-comments}}
  </div>
</section>


{{/post}}

</div>
